*{
    background: white;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header h1{
    text-align: center;
    color: cadetblue;
}
header p{
    color: orange;
    text-align: center;
}
a{
    color: cadetblue;
    text-decoration: none;
    font-weight: bold;
    padding: 20px;
}
.h{
    text-align: center;
    color: orange;
}
.pics{
    display: flex;
      justify-content: space-between;
       margin: 0 auto;
    flex-wrap: wrap;
    padding-top: 20px;
    
}
.pics div{
    width: 49%;
}
.pics img{
    width: 100%;
    border-radius: 15px;
}
.pics h4,p{
    text-align: center;
}
.pics h4,h3{
color: orange;
}
.pics p{
    color:cadetblue;
}
.first{
    text-align: center;
    padding: 5px;
}
.first h2{
    color: orange;
}
.first p,li{
    color: black;
}
footer,footer h3,footer p{
    background: cadetblue;
    color: white ;
    text-align: center;
    padding: 15px;
}
@media (max-width:500px){
    .pics{
        width: 48%;
        margin-bottom: 20px;
    }
    .first{
        width: 70%;
    }

}
